[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/rlImGui"]
	path = submodules/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "submodules/Nara"]
	path = submodules/Nara
	url = https://github.com/AppleJuiceNerd/Nara.git
