[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/rlImGui"]
	path = submodules/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "submodules/hidapi"]
	path = src/api/submodules/hidapi
	url = https://github.com/libusb/hidapi.git
